body {
  background: url("../img/cieletoile2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
}

.buttonBlanc {
  color: white;
}

.texteBlanc {
  color: white;
}